* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #c2e0c6;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #2f472f;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer p {
  font-size: .8rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-auto-rows: 450px;
  gap: 20px;
  margin: 44px 0;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}
