* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #c2e0c6;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 100px;
  padding: 15px 0 30px 0;
  background-color: #2f472f;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2.5rem;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 6px;
  font-style: normal;
  text-transform: uppercase;
}

footer p {
  font-size: .8rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
  margin: 60px 230px;
}

img {
  width: 100%;
  height: auto;
}
